#estilo1{color: #0d51b6;background:#0e4c94;}
#estilo2{color:rgb(23, 56, 204);background:white;}
#estilo3{color:black;background:#1c1fd3;}

main{
	width: 40%;
	background: rgba(0,0,0,0.5);
	color: white;
	padding: 20px;
	margin: 13%;
	
}

body
{
	display: flex;
	justify-content: center;
}